{%extends "encyclopedia/layout.html"%}
{% block title %}
    Edit Page
{% endblock  %}

{%block body%}
<h1>EditPage</h1>
<form action="{% url "saveEdit"%}"  method="POST">
    {% csrf_token %}
   <div class="form-group">
   <label for="title">Title</label>
    <input type="text" name="title" class="form-control"value="{{Title}}"readonly>

  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" name="content" rows="2">{{content}}</textarea>
    
  </div>
  <button type="submit" class="btn btn-outline-primary">Create</button>
</form>

{%endblock%}
